# IBM Applied DataScience Capstone

### Project: Opening a gym in New York City

#### Steps:
- Export the neighborhood of the new york city 
- Get the coordinate of the neighbohoods
- Explor the venues near to the neighborhoods
- Cluster them using machine learning method - KMeans clusting
- Find out the best suitables places to open a gym

#### Import librearies

In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

import matplotlib.cm as cm
import matplotlib.colors as colors

from geopy.geocoders import Nominatim
import matplotlib.pyplot as plt
import folium
from geopy.extra.rate_limiter import RateLimiter
from pandas.io.json import json_normalize

### Scrap the neighborhood from wikipedia

In [63]:
url="https://en.wikipedia.org/wiki/Neighborhoods_in_New_York_City"
page = requests.get(url)
page

In [64]:
soup = BeautifulSoup(page.text,'html.parser')
table=soup.find_all('table')[0]

In [65]:
df = pd.DataFrame(np.arange(5))

In [66]:
row_index=0
for row in table.find_all('tr'):
    col_index=0
    for col in row.find_all('td'):
        df.loc[row_index,col_index] = col.get_text().replace('\n','')
        col_index +=1
    row_index +=1

In [67]:
df.columns = ['Borough','Area km2','Pop Census','Pop/km2','Neighborhoods']
df = df[(df['Borough'] != 'New York City') & (df['Borough'] != 0)]
df.head()

,Borough,Area km2,Pop Census,Pop/km2,Neighborhoods
1,Bronx CB 1,7.17,"91,497","12,761","Melrose, Mott Haven, Port Morris"
2,Bronx CB 2,5.54,"52,246","9,792","Hunts Point, Longwood"
3,Bronx CB 3,4.07,"79,762","19,598","Claremont, Concourse Village, Crotona Park, Mo..."
4,Bronx CB 4,5.28,"146,441","27,735","Concourse, Highbridge"
5,Bronx CB 5,3.55,"128,200","36,145","Fordham, Morris Heights, Mount Hope, Universit..."

### Update the Borough to unique names

In [68]:
df.loc[df['Borough'].str.contains('Bronx'),'Borough'] = 'Bronx'
df.loc[df['Borough'].str.contains('Brooklyn'),'Borough'] = 'Brooklyn'
df.loc[df['Borough'].str.contains('Queens'),'Borough'] = 'Queens'
df.loc[df['Borough'].str.contains('Staten Island'),'Borough'] = 'Staten Island'
df.loc[df['Borough'].str.contains('Manhattan'),'Borough'] = 'Manhattan'

In [69]:
df['Borough'].unique()

array(['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island'],
      dtype=object)

### Split the Neighborhoods column to multiple rows

In [70]:
neighborhood=df['Neighborhoods'].str.split(',').apply(pd.Series,1).stack()
neighborhood.name = 'Neighborhoods'
neighborhood.index = neighborhood.index.droplevel(-1)

df.drop('Neighborhoods',axis=1,inplace=True)

df=df.join(neighborhood).reset_index()
df["Neighborhoods"]=df["Neighborhoods"].str.strip()
df["Borough"]=df["Borough"].str.strip()
del df['index']

In [71]:
df.head()

  Borough Area km2 Pop Census Pop/km2 Neighborhoods
0   Bronx     7.17     91,497  12,761       Melrose
1   Bronx     7.17     91,497  12,761    Mott Haven
2   Bronx     7.17     91,497  12,761   Port Morris
3   Bronx     5.54     52,246   9,792   Hunts Point
4   Bronx     5.54     52,246   9,792      Longwood

In [73]:
df.groupby('Borough').count()

               Area km2  Pop Census  Pop/km2  Neighborhoods
Borough
Bronx                60          60       60             60
Brooklyn             80          80       80             80
Manhattan            48          48       48             48
Queens               86          86       86             86
Staten Island        56          56       56             56

### Cretae a function to get co-orodinates

In [74]:
geolocator = Nominatim(user_agent="newyork_loc",timeout=3)

def get_location(name,borough):
    name = name + "," + borough
    print(name)
    location = geolocator.geocode(name,country_codes='US')
    return(location.latitude,location.longitude)

### Get the coordinates of the neighborhoods

In [75]:
for index,row in df.iterrows():
    try:
        location = get_location(row['Neighborhoods'],row['Borough'])
        df.loc[index,'Latitude'] = location[0]
        df.loc[index,'Longitude'] = location[1]
    except:
        print("Retrying....")
        try:
            location = get_location(row['Neighborhoods'],row['Borough'])
            df.loc[index,'Latitude'] = location[0]
            df.loc[index,'Longitude'] = location[1]
        except:
            print("***** Not Found in second attempt ****")

Melrose,Bronx
Mott Haven,Bronx
Port Morris,Bronx
Hunts Point,Bronx
Longwood,Bronx
Claremont,Bronx
Concourse Village,Bronx
Crotona Park,Bronx
Morrisania,Bronx
Concourse,Bronx
Highbridge,Bronx
Fordham,Bronx
Morris Heights,Bronx
Mount Hope,Bronx
University Heights,Bronx
Bathgate,Bronx
Belmont,Bronx
East Tremont,Bronx
West Farms,Bronx
Bedford Park,Bronx
Norwood,Bronx
University Heights,Bronx
Fieldston,Bronx
Kingsbridge,Bronx
Kingsbridge Heights,Bronx
Marble Hill,Bronx
Riverdale,Bronx
Spuyten Duyvil,Bronx
Van Cortlandt Village,Bronx
Retrying....
Van Cortlandt Village,Bronx
***** Not Found in second attempt ****
Bronx River,Bronx
Bruckner,Bronx
Castle Hill,Bronx
Clason Point,Bronx
Harding Park,Bronx
Parkchester,Bronx
Soundview,Bronx
Unionport,Bronx
City Island,Bronx
Co-op City,Bronx
Locust Point,Bronx
Pelham Bay,Bronx
Silver Beach,Bronx
Throgs Neck,Bronx
Westchester Square,Bronx
Allerton,Bronx
Bronxdale,Bronx
Indian Village,Bronx
Laconia,Bronx
Morris Park,Bronx
Pelham Gardens,Bronx
Pelham Parkway,Bronx
Van Nest,Bronx
Baychester,Bronx
Edenwald,Bronx
Eastchester,Bronx
Fish Bay,Bronx
Olinville,Bronx
Wakefield,Bronx
Williamsbridge,Bronx
Woodlawn,Bronx
Greenpoint,Brooklyn
Williamsburg,Brooklyn
Williamsburg Houses,Brooklyn
Boerum Hill,Brooklyn
Brooklyn Heights,Brooklyn
Brooklyn Navy Yard,Brooklyn
Clinton Hill,Brooklyn
Dumbo,Brooklyn
Fort Greene,Brooklyn
Fulton Ferry,Brooklyn
Fulton Mall,Brooklyn
Vinegar Hill,Brooklyn
Bedford-Stuyvesant,Brooklyn
Ocean Hill,Brooklyn
Stuyvesant Heights,Brooklyn
Bushwick,Brooklyn
City Line,Brooklyn
Cypress Hills,Brooklyn
East New York,Brooklyn
Highland Park,Brooklyn
New Lots,Brooklyn
Starrett City,Brooklyn
Carroll Gardens,Brooklyn
Cobble Hill,Brooklyn
Gowanus,Brooklyn
Park Slope,Brooklyn
Red Hook,Brooklyn
Greenwood Heights,Brooklyn
Sunset Park,Brooklyn
Windsor Terrace,Brooklyn
Crown Heights,Brooklyn
Prospect Heights,Brooklyn
Weeksville,Brooklyn
Crown Heights,Brooklyn
Prospect Lefferts Gardens,Brooklyn
Retrying....
Prospect Lefferts Gardens,Brooklyn
***** Not Found in second attempt ****
Wingate,Brooklyn
Bay Ridge,Brooklyn
Dyker Heights,Brooklyn
Fort Hamilton,Brooklyn
Bath Beach,Brooklyn
Bensonhurst,Brooklyn
Gravesend,Brooklyn
Mapleton,Brooklyn
Borough Park,Brooklyn
Kensington,Brooklyn
Midwood,Brooklyn
Ocean Parkway,Brooklyn
Bensonhurst,Brooklyn
Brighton Beach,Brooklyn
Coney Island,Brooklyn
Gravesend,Brooklyn
Sea Gate,Brooklyn
Flatbush,Brooklyn
Kensington,Brooklyn
Midwood,Brooklyn
Ocean Parkway,Brooklyn
East Gravesend,Brooklyn
Gerritsen Beach,Brooklyn
Homecrest,Brooklyn
Kings Bay,Brooklyn
Kings Highway,Brooklyn
Madison,Brooklyn
Manhattan Beach,Brooklyn
Plum Beach,Brooklyn
Sheepshead Bay,Brooklyn
Brownsville,Brooklyn
Ocean Hill,Brooklyn
Ditmas Village,Brooklyn
East Flatbush,Brooklyn
Erasmus,Brooklyn
Farragut,Brooklyn
Remsen Village,Brooklyn
Rugby,Brooklyn
Bergen Beach,Brooklyn
Canarsie,Brooklyn
Flatlands,Brooklyn
Georgetown,Brooklyn
Marine Park,Brooklyn
Mill Basin,Brooklyn
Mill Island,Brooklyn
Battery Park City,Manhattan
Financial District,Manhattan
Tribeca,Manhattan
Chinatown,Manhattan
Greenwich Village,Manhattan
Little Italy,Manhattan
Lower East Side,Manhattan
NoHo,Manhattan
SoHo,Manhattan
West Village,Manhattan
Alphabet City,Manhattan
Chinatown,Manhattan
East Village,Manhattan
Lower East Side,Manhattan
Two Bridges,Manhattan
Chelsea,Manhattan
Clinton,Manhattan
Hell's Kitchen,Manhattan
Hudson Yards,Manhattan
Midtown,Manhattan
Gramercy Park,Manhattan
Kips Bay,Manhattan
Rose Hill,Manhattan
Murray Hill,Manhattan
Peter Cooper Village,Manhattan
Stuyvesant Town,Manhattan
Sutton Place,Manhattan
Tudor City,Manhattan
Turtle Bay,Manhattan
Waterside Plaza,Manhattan
Lincoln Square,Manhattan
Manhattan Valley,Manhattan
Upper West Side,Manhattan
Lenox Hill,Manhattan
Roosevelt Island,Manhattan
Upper East Side,Manhattan
Yorkville,Manhattan
Hamilton Heights,Manhattan
Manhattanville,Manhattan
Morningside Heights,Manhattan
Harlem,Manhattan
Polo Grounds,Manhattan
East Harlem,Manhattan
Randall's Island,Manhattan
Spanish Harlem,Manhattan
Wards Island,Manhattan
Inwood,Manhattan
Washington Heights,Manhattan
Astoria,Queens
Astoria Heights,Queens
Queensbridge,Queens
Dutch Kills,Queens
Long Island City,Queens
Ravenswood,Queens
Rikers Island,Queens
Steinway,Queens
Blissville,Queens
Hunters Point,Queens
Long Island City,Queens
Sunnyside,Queens
Sunnyside Gardens,Queens
Woodside,Queens
East Elmhurst,Queens
Jackson Heights,Queens
North Corona,Queens
Corona,Queens
Elmhurst,Queens
Fresh Pond,Queens
Glendale,Queens
Maspeth,Queens
Middle Village,Queens
Liberty Park,Queens
Ridgewood,Queens
Forest Hills,Queens
Rego Park,Queens
Bay Terrace,Queens
Beechhurst,Queens
College Point,Queens
Flushing,Queens
Linden Hill,Queens
Malba,Queens
Queensboro Hill,Queens
Whitestone,Queens
Willets Point,Queens
Briarwood,Queens
Fresh Meadows,Queens
Holliswood,Queens
Jamaica Estates,Queens
Kew Gardens Hills,Queens
Retrying....
Kew Gardens Hills,Queens
***** Not Found in second attempt ****
Pomonok,Queens
Pomonok Houses,Queens
Utopia,Queens
Kew Gardens,Queens
Ozone Park,Queens
Richmond Hill,Queens
Woodhaven,Queens
Howard Beach,Queens
Lindenwood,Queens
Retrying....
Lindenwood,Queens
***** Not Found in second attempt ****
Richmond Hill,Queens
South Ozone Park,Queens
Tudor Village,Queens
Auburndale,Queens
Bayside,Queens
Douglaston,Queens
East Flushing,Queens
Hollis Hills,Queens
Little Neck,Queens
Oakland Gardens,Queens
Baisley Park,Queens
Jamaica,Queens
Hollis,Queens
Rochdale Village,Queens
St. Albans,Queens
South Jamaica,Queens
Springfield Gardens,Queens
Bellerose,Queens
Brookville,Queens
Cambria Heights,Queens
Floral Park,Queens
Glen Oaks,Queens
Laurelton,Queens
Meadowmere,Queens
New Hyde Park,Queens
Retrying....
New Hyde Park,Queens
***** Not Found in second attempt ****
Queens Village,Queens
Rosedale,Queens
Arverne,Queens
Bayswater,Queens
Belle Harbor,Queens
Breezy Point,Queens
Edgemere,Queens
Far Rockaway,Queens
Neponsit,Queens
Rockaway Park,Queens
Seaside,Queens
Arlington,Staten Island
Castleton Corners,Staten Island
Clifton,Staten Island
Concord,Staten Island
Elm Park,Staten Island
Fort Wadsworth,Staten Island
Graniteville,Staten Island
Grymes Hill,Staten Island
Livingston,Staten Island
Mariners Harbor,Staten Island
Meiers Corners,Staten Island
Retrying....
Meiers Corners,Staten Island
***** Not Found in second attempt ****
New Brighton,Staten Island
Port Ivory,Staten Island
Port Richmond,Staten Island
Randall Manor,Staten Island
Rosebank,Staten Island
St. George,Staten Island
Shore Acres,Staten Island
Silver Lake,Staten Island
Retrying....
Silver Lake,Staten Island
***** Not Found in second attempt ****
Stapleton,Staten Island
Sunnyside,Staten Island
Tompkinsville,Staten Island
West Brighton,Staten Island
Westerleigh,Staten Island
Arrochar,Staten Island
Bloomfield,Staten Island
Bulls Head,Staten Island
Chelsea,Staten Island
Dongan Hills,Staten Island
Egbertville,Staten Island
Emerson Hill,Staten Island
Grant City,Staten Island
Grasmere,Staten Island
Midland Beach,Staten Island
New Dorp,Staten Island
New Springville,Staten Island
Oakwood,Staten Island
Ocean Breeze,Staten Island
Old Town,Staten Island
South Beach,Staten Island
Todt Hill,Staten Island
Travis,Staten Island
Annadale,Staten Island
Arden Heights,Staten Island
Bay Terrace,Staten Island
Charleston,Staten Island
Eltingville,Staten Island
Great Kills,Staten Island
Greenridge,Staten Island
Huguenot,Staten Island
Pleasant Plains,Staten Island
Prince's Bay,Staten Island
Richmond Valley,Staten Island
Rossville,Staten Island
Tottenville,Staten Island
Woodrow,Staten Island

### Check for the location without coordinates and delete from the dataframe

In [76]:
df[df.isnull().any(axis=1)]

,Borough,Area km2,Pop Census,Pop/km2,Neighborhoods,Latitude,Longitude
28,Bronx,8.83,"101,731","11,521",Van Cortlandt Village,NaN,NaN
94,Brooklyn,4.07,"104,014","25,556",Prospect Lefferts Gardens,NaN,NaN
228,Queens,19.17,"146,594","7,647",Kew Gardens Hills,NaN,NaN
237,Queens,16.19,"127,274","7,861",Lindenwood,NaN,NaN
262,Queens,33.31,"196,284","5,893",New Hyde Park,NaN,NaN
284,Staten Island,36.62,"162,609","4,440",Meiers Corners,NaN,NaN
292,Staten Island,36.62,"162,609","4,440",Silver Lake,NaN,NaN

In [77]:
df=df[~df.isnull().any(axis=1)]

### Select required columns and plot in the map

In [102]:
df_neighborhood = df[['Borough','Neighborhoods','Latitude','Longitude']]
df_neighborhood.head()

  Borough Neighborhoods   Latitude  Longitude
0   Bronx       Melrose  40.825670 -73.915242
1   Bronx    Mott Haven  40.808990 -73.922915
2   Bronx   Port Morris  40.801515 -73.909581
3   Bronx   Hunts Point  40.812601 -73.884025
4   Bronx      Longwood  40.816292 -73.896220

In [103]:
address = "New York City"

geolocator = Nominatim(user_agent="newyork_loc")
location = geolocator.geocode(address,country_codes='US')
latitude = location.latitude
longitude = location.longitude
print("Latitude:{} and Longitude:{}".format(latitude,longitude))

Latitude:40.7127281 and Longitude:-74.0060152

In [104]:
df_neighborhood.drop(df_neighborhood[(df_neighborhood['Neighborhoods'] == 'Highland Park')].index, inplace=True)
df_neighborhood.drop(df_neighborhood[(df_neighborhood['Neighborhoods'] == 'Floral Park')].index, inplace=True)
df_neighborhood.drop(df_neighborhood[(df_neighborhood['Neighborhoods'] == 'Liberty Park')].index, inplace=True)
df_neighborhood.drop(df_neighborhood[(df_neighborhood['Neighborhoods'] == 'Plum Beach')].index, inplace=True)
df_neighborhood.drop(df_neighborhood[(df_neighborhood['Neighborhoods'] == 'Madison')].index, inplace=True)

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [2]:
newyork_map = folium.Map(location=[latitude,longitude],zoom_start=10)

for neigh, lat, lng in zip(df_neighborhood['Neighborhoods'],df_neighborhood['Latitude'],df_neighborhood['Longitude']):
    folium.Popup(neigh,parse_html=True)
    folium.CircleMarker(
           [lat,lng],
           radius=5,
           popup="{} : {}-{}".format(neigh,lat,lng),
           color='blue',
           fill=True,
           fill_color='#3186cc',
           fill_capacity=0.7,
           parse_html=False).add_to(newyork_map)

newyork_map

NameError: name 'folium' is not defined

### Explore the venues of the neighborhoods

In [106]:
CLIENT_ID = '1PRWYLG3NUWGEWRZ4QMIO313VEIFQ5P5VFRVR5MIF255VOXC' # your Foursquare ID
CLIENT_SECRET = 'XADJWYNICLSRLQWN1XRH5BQX30TLSIPKOT1NJSIJVIY4GYKK' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 1PRWYLG3NUWGEWRZ4QMIO313VEIFQ5P5VFRVR5MIF255VOXC
CLIENT_SECRET:XADJWYNICLSRLQWN1XRH5BQX30TLSIPKOT1NJSIJVIY4GYKK

In [110]:
def GetNearbyVenue(name, borough, latitude, longitude, radius=500):
    venues_list=[]
    LIMIT=100
    
    for name, borough, lat, log in zip(name, borough, latitude,longitude):
        print(name)
        
        url = "https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}".format(
    CLIENT_ID,CLIENT_SECRET,VERSION,lat,log,radius,LIMIT)
        
        result = requests.get(url)

        result = result.json()['response']['groups'][0]['items']
        
        venues_list.append([(
        name,
        borough,
        lat,
        log,
        v['venue']['name'],
        v['venue']['location']['lat'],
        v['venue']['location']['lng'],
        v['venue']['categories'][0]['name']) for v in result
        ])
        
        nearby_venue = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
        nearby_venue.columns = ['Neighborhood',
                                'Borough',
                  'Neighborhood Latitude', 
                  'Neighborhood Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    return nearby_venue

In [111]:
df_neighborhood.isnull().any(axis=1).unique()

array([False])

In [113]:
newyork_venues = GetNearbyVenue(df_neighborhood['Neighborhoods'],
                                df_neighborhood['Borough'],
                               df_neighborhood['Latitude'],
                               df_neighborhood['Longitude'])

Melrose
Mott Haven
Port Morris
Hunts Point
Longwood
Claremont
Concourse Village
Crotona Park
Morrisania
Concourse
Highbridge
Fordham
Morris Heights
Mount Hope
University Heights
Bathgate
Belmont
East Tremont
West Farms
Bedford Park
Norwood
University Heights
Fieldston
Kingsbridge
Kingsbridge Heights
Marble Hill
Riverdale
Spuyten Duyvil
Bronx River
Bruckner
Castle Hill
Clason Point
Harding Park
Parkchester
Soundview
Unionport
City Island
Co-op City
Locust Point
Pelham Bay
Silver Beach
Throgs Neck
Westchester Square
Allerton
Bronxdale
Indian Village
Laconia
Morris Park
Pelham Gardens
Pelham Parkway
Van Nest
Baychester
Edenwald
Eastchester
Fish Bay
Olinville
Wakefield
Williamsbridge
Woodlawn
Greenpoint
Williamsburg
Williamsburg Houses
Boerum Hill
Brooklyn Heights
Brooklyn Navy Yard
Clinton Hill
Dumbo
Fort Greene
Fulton Ferry
Fulton Mall
Vinegar Hill
Bedford-Stuyvesant
Ocean Hill
Stuyvesant Heights
Bushwick
City Line
Cypress Hills
East New York
New Lots
Starrett City
Carroll Gardens
Cobble Hill
Gowanus
Park Slope
Red Hook
Greenwood Heights
Sunset Park
Windsor Terrace
Crown Heights
Prospect Heights
Weeksville
Crown Heights
Wingate
Bay Ridge
Dyker Heights
Fort Hamilton
Bath Beach
Bensonhurst
Gravesend
Mapleton
Borough Park
Kensington
Midwood
Ocean Parkway
Bensonhurst
Brighton Beach
Coney Island
Gravesend
Sea Gate
Flatbush
Kensington
Midwood
Ocean Parkway
East Gravesend
Gerritsen Beach
Homecrest
Kings Bay
Kings Highway
Manhattan Beach
Sheepshead Bay
Brownsville
Ocean Hill
Ditmas Village
East Flatbush
Erasmus
Farragut
Remsen Village
Rugby
Bergen Beach
Canarsie
Flatlands
Georgetown
Marine Park
Mill Basin
Mill Island
Battery Park City
Financial District
Tribeca
Chinatown
Greenwich Village
Little Italy
Lower East Side
NoHo
SoHo
West Village
Alphabet City
Chinatown
East Village
Lower East Side
Two Bridges
Chelsea
Clinton
Hell's Kitchen
Hudson Yards
Midtown
Gramercy Park
Kips Bay
Rose Hill
Murray Hill
Peter Cooper Village
Stuyvesant Town
Sutton Place
Tudor City
Turtle Bay
Waterside Plaza
Lincoln Square
Manhattan Valley
Upper West Side
Lenox Hill
Roosevelt Island
Upper East Side
Yorkville
Hamilton Heights
Manhattanville
Morningside Heights
Harlem
Polo Grounds
East Harlem
Randall's Island
Spanish Harlem
Wards Island
Inwood
Washington Heights
Astoria
Astoria Heights
Queensbridge
Dutch Kills
Long Island City
Ravenswood
Rikers Island
Steinway
Blissville
Hunters Point
Long Island City
Sunnyside
Sunnyside Gardens
Woodside
East Elmhurst
Jackson Heights
North Corona
Corona
Elmhurst
Fresh Pond
Glendale
Maspeth
Middle Village
Ridgewood
Forest Hills
Rego Park
Bay Terrace
Beechhurst
College Point
Flushing
Linden Hill
Malba
Queensboro Hill
Whitestone
Willets Point
Briarwood
Fresh Meadows
Holliswood
Jamaica Estates
Pomonok
Pomonok Houses
Utopia
Kew Gardens
Ozone Park
Richmond Hill
Woodhaven
Howard Beach
Richmond Hill
South Ozone Park
Tudor Village
Auburndale
Bayside
Douglaston
East Flushing
Hollis Hills
Little Neck
Oakland Gardens
Baisley Park
Jamaica
Hollis
Rochdale Village
St. Albans
South Jamaica
Springfield Gardens
Bellerose
Brookville
Cambria Heights
Glen Oaks
Laurelton
Meadowmere
Queens Village
Rosedale
Arverne
Bayswater
Belle Harbor
Breezy Point
Edgemere
Far Rockaway
Neponsit
Rockaway Park
Seaside
Arlington
Castleton Corners
Clifton
Concord
Elm Park
Fort Wadsworth
Graniteville
Grymes Hill
Livingston
Mariners Harbor
New Brighton
Port Ivory
Port Richmond
Randall Manor
Rosebank
St. George
Shore Acres
Stapleton
Sunnyside
Tompkinsville
West Brighton
Westerleigh
Arrochar
Bloomfield
Bulls Head
Chelsea
Dongan Hills
Egbertville
Emerson Hill
Grant City
Grasmere
Midland Beach
New Dorp
New Springville
Oakwood
Ocean Breeze
Old Town
South Beach
Todt Hill
Travis
Annadale
Arden Heights
Bay Terrace
Charleston
Eltingville
Great Kills
Greenridge
Huguenot
Pleasant Plains
Prince's Bay
Richmond Valley
Rossville
Tottenville
Woodrow

In [114]:
newyork_venues.head()

,Neighborhood,Borough,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Melrose,Bronx,40.82567,-73.915242,Porto Salvo,40.823887,-73.912910,Italian Restaurant
1,Melrose,Bronx,40.82567,-73.915242,Perry Coffee Shop.,40.823181,-73.910928,Diner
2,Melrose,Bronx,40.82567,-73.915242,Chipotle Mexican Grill,40.825890,-73.919534,Mexican Restaurant
3,Melrose,Bronx,40.82567,-73.915242,Starbucks,40.825556,-73.918865,Coffee Shop
4,Melrose,Bronx,40.82567,-73.915242,Concourse Village,40.823697,-73.919607,Shopping Mall

In [115]:
newyork_venues.groupby('Neighborhood').count()

,Borough,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
Neighborhood,,,,,,,
Allerton,34,34,34,34,34,34,34
Alphabet City,100,100,100,100,100,100,100
Annadale,19,19,19,19,19,19,19
Arlington,7,7,7,7,7,7,7
Arrochar,7,7,7,7,7,7,7
Arverne,11,11,11,11,11,11,11
Astoria,21,21,21,21,21,21,21
Astoria Heights,57,57,57,57,57,57,57
Auburndale,25,25,25,25,25,25,25
Baisley Park,7,7,7,7,7,7,7
Bath Beach,35,35,35,35,35,35,35
Bathgate,10,10,10,10,10,10,10
Battery Park City,92,92,92,92,92,92,92
Bay Ridge,26,26,26,26,26,26,26
Bay Terrace,12,12,12,12,12,12,12
Baychester,15,15,15,15,15,15,15
Bayside,15,15,15,15,15,15,15
Bayswater,1,1,1,1,1,1,1
Bedford Park,35,35,35,35,35,35,35
Bedford-Stuyvesant,55,55,55,55,55,55,55
Beechhurst,15,15,15,15,15,15,15
Belle Harbor,24,24,24,24,24,24,24
Bellerose,16,16,16,16,16,16,16
Belmont,54,54,54,54,54,54,54
Bensonhurst,116,116,116,116,116,116,116
Bergen Beach,9,9,9,9,9,9,9
Blissville,8,8,8,8,8,8,8
Bloomfield,10,10,10,10,10,10,10
Boerum Hill,83,83,83,83,83,83,83
Borough Park,20,20,20,20,20,20,20
...,...,...,...,...,...,...,...
Two Bridges,43,43,43,43,43,43,43
Unionport,8,8,8,8,8,8,8
University Heights,26,26,26,26,26,26,26
Upper East Side,79,79,79,79,79,79,79
Upper West Side,75,75,75,75,75,75,75
Utopia,44,44,44,44,44,44,44
Van Nest,31,31,31,31,31,31,31
Vinegar Hill,26,26,26,26,26,26,26
Wakefield,12,12,12,12,12,12,12
Wards Island,11,11,11,11,11,11,11
Washington Heights,44,44,44,44,44,44,44
Waterside Plaza,10,10,10,10,10,10,10
Weeksville,26,26,26,26,26,26,26
West Brighton,10,10,10,10,10,10,10
West Farms,20,20,20,20,20,20,20
West Village,100,100,100,100,100,100,100
Westchester Square,36,36,36,36,36,36,36
Westerleigh,3,3,3,3,3,3,3
Whitestone,4,4,4,4,4,4,4
Willets Point,4,4,4,4,4,4,4
Williamsbridge,27,27,27,27,27,27,27
Williamsburg,91,91,91,91,91,91,91
Williamsburg Houses,100,100,100,100,100,100,100
Windsor Terrace,32,32,32,32,32,32,32
Wingate,18,18,18,18,18,18,18
Woodhaven,28,28,28,28,28,28,28
Woodlawn,17,17,17,17,17,17,17
Woodrow,1,1,1,1,1,1,1
Woodside,59,59,59,59,59,59,59
Yorkville,100,100,100,100,100,100,100

In [235]:
len(newyork_venues['Venue Category'].unique())

431

In [116]:
'Gym' in newyork_venues['Venue Category'].unique()

True

In [117]:
newyork_venues[newyork_venues['Venue Category'].str.contains('Gym')]['Venue Category'].unique()

array(['Gym', 'Gym / Fitness Center', 'Boxing Gym', 'Climbing Gym',
       'Gym Pool', 'Outdoor Gym', 'Gymnastics Gym'], dtype=object)

### Updating all the Gym catagories to "Gym"

In [118]:
newyork_venues.loc[newyork_venues['Venue Category'].str.contains('Gym'),'Venue Category'] = 'Gym'

In [119]:
newyork_venues[newyork_venues['Venue Category'].str.contains('Gym')]['Venue Category'].unique()

array(['Gym'], dtype=object)

In [120]:
newyork_venues.head()

,Neighborhood,Borough,Neighborhood Latitude,Neighborhood Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Melrose,Bronx,40.82567,-73.915242,Porto Salvo,40.823887,-73.912910,Italian Restaurant
1,Melrose,Bronx,40.82567,-73.915242,Perry Coffee Shop.,40.823181,-73.910928,Diner
2,Melrose,Bronx,40.82567,-73.915242,Chipotle Mexican Grill,40.825890,-73.919534,Mexican Restaurant
3,Melrose,Bronx,40.82567,-73.915242,Starbucks,40.825556,-73.918865,Coffee Shop
4,Melrose,Bronx,40.82567,-73.915242,Concourse Village,40.823697,-73.919607,Shopping Mall

### Create the dataframe with categories as column and group by neighborhood

In [121]:
ny_venues = pd.get_dummies(newyork_venues[['Venue Category']], prefix="", prefix_sep="")
ny_venues['Neighborhood'] = newyork_venues['Neighborhood']

temp_col = list(ny_venues.columns)
temp_col.remove('Neighborhood')

columns = ['Neighborhood'] + temp_col
ny_venues = ny_venues[columns]

In [122]:
ny_venues.head()

,Neighborhood,ATM,Accessories Store,Acupuncturist,Adult Boutique,Afghan Restaurant,African Restaurant,Airport Food Court,Airport Lounge,American Restaurant,...,Weight Loss Center,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo,Zoo Exhibit
0,Melrose,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Melrose,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Melrose,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Melrose,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Melrose,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [123]:
ny_venue_grouped = ny_venues.groupby('Neighborhood').mean().reset_index()

In [124]:
ny_venue_grouped.shape

(300, 432)

In [125]:
# Rename the column and merge with dataframe for coordinates

df_neighborhood.rename(columns={'Neighborhoods':'Neighborhood'},inplace=True)
ny_venue_grouped = ny_venue_grouped.merge(df_neighborhood, on='Neighborhood')

/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [126]:
ny_venue_grouped.head()

,Neighborhood,ATM,Accessories Store,Acupuncturist,Adult Boutique,Afghan Restaurant,African Restaurant,Airport Food Court,Airport Lounge,American Restaurant,...,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo,Zoo Exhibit,Borough,Latitude,Longitude
0,Allerton,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,Bronx,40.865430,-73.867365
1,Alphabet City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.010000,...,0.01,0.0,0.0,0.0,0.02,0.0,0.0,Manhattan,40.725102,-73.979583
2,Annadale,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.157895,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,Staten Island,40.544550,-74.176532
3,Arlington,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.142857,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,Staten Island,40.632326,-74.165144
4,Arrochar,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.00,0.0,0.0,0.0,0.00,0.0,0.0,Staten Island,40.598438,-74.072641

### Get neighborhoods with column gym only

In [127]:
len(ny_venue_grouped[ny_venue_grouped['Gym'] > 0])

119

In [128]:
ny_gym = ny_venue_grouped[['Borough','Neighborhood','Gym']]
ny_gym.head()

         Borough   Neighborhood   Gym
0          Bronx       Allerton  0.00
1      Manhattan  Alphabet City  0.01
2  Staten Island       Annadale  0.00
3  Staten Island      Arlington  0.00
4  Staten Island       Arrochar  0.00

In [129]:
ny_gym['Borough'].unique()

array(['Bronx', 'Manhattan', 'Staten Island', 'Queens', 'Brooklyn'],
      dtype=object)

### Apply Machine learning alogrithm to the dataset

In [130]:
ny_gym[ny_gym.isnull().any(axis=1)]

Empty DataFrame
Columns: [Borough, Neighborhood, Gym]
Index: []

In [131]:
from sklearn.cluster import KMeans

In [132]:
# Set the cluster to 3
k_clusters = 3
ny_gym_tmp = ny_gym.copy()

for borough in ny_gym['Borough'].unique():
    print(borough)
    ny_clusters = ny_gym_tmp[ny_gym_tmp['Borough'] == borough].drop(['Borough','Neighborhood'],axis=1)
    
    # Kmeans
    ny_kmeans = KMeans(n_clusters=k_clusters,random_state=0).fit(ny_clusters)
    ny_gym.loc[ny_gym[ny_gym['Borough'] == borough].index,'cluster'] = ny_kmeans.labels_

Bronx

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Manhattan
Staten Island
Queens

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

Brooklyn

/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [133]:
ny_gym = ny_gym.merge(df_neighborhood, on=['Neighborhood','Borough'])

In [327]:
ny_gym['cluster'] = ny_gym['cluster'].astype(int)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [141]:
ny_gym['cluster'].unique()

array([0, 1, 2])

In [140]:
ny_gym['cluster']=ny_gym['cluster'].astype(int)

In [142]:
ny_gym.head()

         Borough   Neighborhood   Gym  cluster   Latitude  Longitude
0          Bronx       Allerton  0.00        0  40.865430 -73.867365
1      Manhattan  Alphabet City  0.01        0  40.725102 -73.979583
2  Staten Island       Annadale  0.00        0  40.544550 -74.176532
3  Staten Island      Arlington  0.00        0  40.632326 -74.165144
4  Staten Island       Arrochar  0.00        0  40.598438 -74.072641

### Plot the neighborhood with the label in the map

In [1]:
ny_map = folium.Map(location=[latitude, longitude], zoom_start=10)

# set color scheme for the clusters
x = np.arange(k_clusters)
ys = [i+x+(i*x)**2 for i in range(k_clusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for bor,lat, lon, poi, cluster in zip(ny_gym['Borough'],ny_gym['Latitude'], ny_gym['Longitude'], ny_gym['Neighborhood'], ny_gym['cluster']):
    label = folium.Popup(str(poi) + ', ' + bor + ' - Cluster: ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(ny_map)
       
ny_map

NameError: name 'folium' is not defined

### Save the map

In [147]:
ny_map.save(outfile='ny_gym.html')

### Check the cluster of the each borough

In [148]:
ny_gym.groupby(['Borough','cluster']).count()

                       Neighborhood  Gym  Latitude  Longitude
Borough       cluster
Bronx         0                  47   47        47         47
              1                   3    3         3          3
              2                  11   11        11         11
Brooklyn      0                  32   32        32         32
              1                   1    1         1          1
              2                  57   57        57         57
Manhattan     0                  31   31        31         31
              1                   9    9         9          9
              2                  12   12        12         12
Queens        0                   6    6         6          6
              1                  63   63        63         63
              2                  16   16        16         16
Staten Island 0                  42   42        42         42
              1                   4    4         4          4
              2                   5    5         5          5

### Analyze clusters of Brooklyn

In [149]:
ny_gym[(ny_gym['Borough'] == 'Queens') & (ny_gym['cluster'] == 0)]

    Borough   Neighborhood       Gym  cluster   Latitude  Longitude
17   Queens        Bayside  0.066667        0  40.768435 -73.777077
21   Queens     Beechhurst  0.133333        0  40.791490 -73.804578
143  Queens         Hollis  0.066667        0  40.713436 -73.767077
161  Queens    Kew Gardens  0.069767        0  40.713941 -73.830742
304  Queens  Tudor Village  0.082353        0  40.746394 -73.971705
337  Queens       Woodside  0.067797        0  40.745380 -73.905415

In [150]:
ny_gym[(ny_gym['Borough'] == 'Queens') & (ny_gym['cluster'] == 1)]

    Borough         Neighborhood  Gym  cluster   Latitude  Longitude
5    Queens              Arverne  0.0        1  40.593417 -73.789546
6    Queens              Astoria  0.0        1  40.772014 -73.930267
8    Queens           Auburndale  0.0        1  40.761452 -73.789724
9    Queens         Baisley Park  0.0        1  40.676015 -73.784897
14   Queens          Bay Terrace  0.0        1  40.561639 -73.920204
18   Queens            Bayswater  0.0        1  40.610278 -73.767222
22   Queens         Belle Harbor  0.0        1  40.577552 -73.848577
23   Queens            Bellerose  0.0        1  40.726769 -73.741521
30   Queens           Blissville  0.0        1  40.734721 -73.937780
34   Queens         Breezy Point  0.0        1  40.556240 -73.926718
35   Queens            Briarwood  0.0        1  40.709179 -73.820574
41   Queens           Brookville  0.0        1  40.658588 -73.746218
46   Queens      Cambria Heights  0.0        1  40.694547 -73.738465
67   Queens        College Point  0.0        1  40.787601 -73.845968
81   Queens           Douglaston  0.0        1  40.768713 -73.747077
83   Queens          Dutch Kills  0.0        1  40.739279 -73.942172
85   Queens        East Elmhurst  0.0        1  40.761212 -73.865136
87   Queens        East Flushing  0.0        1  40.757537 -73.784305
95   Queens             Edgemere  0.0        1  40.596365 -73.767905
98   Queens             Elmhurst  0.0        1  40.736580 -73.878393
102  Queens         Far Rockaway  0.0        1  40.605382 -73.755133
109  Queens             Flushing  0.0        1  40.765430 -73.817429
115  Queens        Fresh Meadows  0.0        1  40.734825 -73.793467
116  Queens           Fresh Pond  0.0        1  40.707047 -73.903470
121  Queens            Glen Oaks  0.0        1  40.747046 -73.711520
144  Queens         Hollis Hills  0.0        1  40.735969 -73.766311
145  Queens           Holliswood  0.0        1  40.725067 -73.764811
147  Queens         Howard Beach  0.0        1  40.657882 -73.836246
150  Queens        Hunters Point  0.0        1  40.738650 -73.962647
154  Queens      Jackson Heights  0.0        1  40.755656 -73.885775
..      ...                  ...  ...      ...        ...        ...
171  Queens          Linden Hill  0.0        1  40.715658 -73.923471
173  Queens          Little Neck  0.0        1  40.774534 -73.741256
176  Queens     Long Island City  0.0        1  40.741509 -73.956975
177  Queens     Long Island City  0.0        1  40.741509 -73.956975
178  Queens     Long Island City  0.0        1  40.741509 -73.956975
179  Queens     Long Island City  0.0        1  40.741509 -73.956975
185  Queens                Malba  0.0        1  40.790657 -73.826801
193  Queens              Maspeth  0.0        1  40.723158 -73.912637
194  Queens           Meadowmere  0.0        1  40.635969 -73.741518
196  Queens       Middle Village  0.0        1  40.718215 -73.878671
212  Queens             Neponsit  0.0        1  40.572296 -73.862310
218  Queens         North Corona  0.0        1  40.745076 -73.848988
220  Queens      Oakland Gardens  0.0        1  40.753991 -73.765966
241  Queens              Pomonok  0.0        1  40.732448 -73.808831
242  Queens       Pomonok Houses  0.0        1  40.733243 -73.812778
247  Queens       Queens Village  0.0        1  40.726769 -73.741521
248  Queens      Queensboro Hill  0.0        1  40.755202 -73.887020
252  Queens           Ravenswood  0.0        1  40.761440 -73.936921
254  Queens            Rego Park  0.0        1  40.722937 -73.862207
262  Queens        Rikers Island  0.0        1  40.776463 -73.892038
264  Queens     Rochdale Village  0.0        1  40.676389 -73.773889
265  Queens        Rockaway Park  0.0        1  40.580510 -73.836153
269  Queens             Rosedale  0.0        1  40.662048 -73.735410
280  Queens        South Jamaica  0.0        1  40.650418 -73.797134
281  Queens     South Ozone Park  0.0        1  40.670104 -73.819023
283  Queens  Springfield Gardens  0.0        1  40.678159 -73.746521
285  Queens           St. Albans  0.0        1  40.698436 -73.760688
294  Queens    Sunnyside Gardens  0.0        1  40.747778 -73.918333
327  Queens           Whitestone  0.0        1  40.794546 -73.818467
328  Queens        Willets Point  0.0        1  40.796708 -73.779396

[63 rows x 6 columns]

In [151]:
ny_gym[(ny_gym['Borough'] == 'Queens') & (ny_gym['cluster'] == 2)]

    Borough     Neighborhood       Gym  cluster   Latitude  Longitude
7    Queens  Astoria Heights  0.035088        2  40.760527 -73.911649
72   Queens           Corona  0.020408        2  40.746959 -73.860146
111  Queens     Forest Hills  0.030769        2  40.719594 -73.844855
122  Queens         Glendale  0.027778        2  40.701492 -73.886803
232  Queens       Ozone Park  0.055556        2  40.676770 -73.843746
249  Queens     Queensbridge  0.037037        2  40.754495 -73.945613
256  Queens    Richmond Hill  0.045455        2  40.699425 -73.830967
257  Queens    Richmond Hill  0.045455        2  40.699425 -73.830967
258  Queens    Richmond Hill  0.045455        2  40.699425 -73.830967
259  Queens    Richmond Hill  0.045455        2  40.699425 -73.830967
261  Queens        Ridgewood  0.038462        2  40.708056 -73.914167
273  Queens          Seaside  0.041667        2  40.583161 -73.828190
289  Queens         Steinway  0.029851        2  40.774546 -73.903748
292  Queens        Sunnyside  0.023810        2  40.739824 -73.935415
314  Queens           Utopia  0.022727        2  40.727325 -73.786522
334  Queens        Woodhaven  0.035714        2  40.689270 -73.857913

### Analysis

If we look into above data, we can see there are 3 clusters of the neighborhood of Queens

Clusters 0 : Neighborhood with high frequency of the gyms

Clusters 1 : Neighborhood with low frequency of the gyms

Clusters 2 : Neighborhood with modorate frequency of the gyms


So we can choose cluster 1 neighborhoods to open a gym without any competition and cluster 2 with less competition.
we can avoid cluster 0 neighborhoods as it has maximum gyms in its nearby.